{% extends "base.html" %}
{% block content %}

<form name="form1" action="/assignments/{{assignment.id}}/submit/" method="POST">{% csrf_token %}
  <div class="row">
    <div class="span12">
      <fieldset>
	<h2>{{ assignment.question }}</h2>
	<p>You will be now taken to a separate window where you can work on the BlueJ IDE!
	<p>Instructions for the assignment can be found on the desktop of the VM!</p>
      </fieldset>
    </div>
    <div class="span2">
      <fieldset> 
	<button type="submit" align="btn-right" class="btn btn-primary btn-large">Let's go!</button>
      </fieldset>
    </div>
  </div>
</form>

{% endblock %}
