{% extends "base.html" %}
{% block content %}


<div class="hero-unit">
  <h1>Extended MOOC</h1>
  <p class="lead">Solve your programming course assignments by working on full IDEs inside your browser, and get instant results on how you performed!</p>
  <a class="btn btn-large btn-success" href="#">Get started today</a>
</div>
<hr>
<div class="row-fluid">
  <div class="span4">
    <h2>Full IDE</h2>
    <p>No more trying to write code in a small text area in your browser. We give you access to BlueJ, which is a fully functional educational IDE that you can use to work on your programming assignments.</p>
  </div>
  <div class="span4">
    <h2>No Installation</h2>
    <p>The only software we ask you to bring is a modern browser. No installing complicated Virtual Machines or figuring out how to install the latest JDK.</p>
    <p><a class="btn" target="_blank" href="http://www.google.com/chrome/">Download Google Chrome »</a></p>
  </div>
  <div class="span4">
    <h2>Fast</h2>
    <p>We love fast, zippy things. No more waiting for setting up your coding environment -- jump straight into it. No more waiting a few weeks to find out how did you actually do on your assignments -- find out in a matter of minutes!</p>
  </div>
</div>


{% endblock %}
