<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Extended MOOC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">

      html { 
      background: url(/static/img/bg2.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

      body {
      margin-top: 80px;
      padding-top: 60px;
      padding-bottom: 40px;
      background-color: rgba(255,255,255,0.8);
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Extended MOOC</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignments <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">See what's due</a></li>
                  <li><a href="#">Check grades</a></li>
                  <li><a href="#">Contact instructor</a></li>
                  <li class="divider"></li>
                </ul>
              </li>
            </ul>
	    {% if user.is_authenticated %}

          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a href="/accounts/logout/">Logout</a></li>
	    </ul>
	  </div>

	    {% else %}
            <form class="navbar-form pull-right" method="post" action="/accounts/login/?next=/">{% csrf_token %}
              <input name="username" class="span2" type="text" placeholder="username">
              <input name="password" class="span2" type="password" placeholder="password">
              <button type="submit" class="btn">Sign in</button>
            </form>
	    {% endif %}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
